body { padding: 0; margin: 0 }
#unity-container { position: fixed; width: 100%; height: 100%; }
#unity-canvas { width: 100%; height: 100%; background: {{{ BACKGROUND_COLOR }}} }
#unity-loading-bar { position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); display: none }
#unity-logo { width: 154px; height: 130px; background: url('unity-logo-{{{ SPLASH_SCREEN_STYLE.toLowerCase() }}}.png') no-repeat center }
#unity-progress-bar-empty { 
  margin-left: auto; 
  margin-right: auto; 
  width: 144px;                    /* 寬度可自行調整 (例如改大一點到 200px) */
  height: 10px;                    /* 高度改細一點比較精緻 */
  margin-top: 15px; 
  background: #356F43;             /* 改為現代感的淡灰色底 */
  border-radius: 5px;              /* 加上圓角 */
  overflow: hidden;                /* 確保內條滿出來時會被切成圓角 */
}
#unity-progress-bar-full { 
  width: 0%; 
  height: 100%;                    /* 填滿父層高度 */
  margin-top: 0px;                 /* 歸零對齊 */
  background: #02FF68;             /* 【在這裡換顏色！】例如：#007AFF 是 iOS 科技藍 */
  border-radius: 5px;              /* 加上圓角 */
  transition: width 0.2s ease-out; /* 讓進度條跑的時候有平滑推進的動畫感，極致流暢！ */
}
#unity-warning { position: absolute; left: 50%; top: 5%; transform: translate(-50%); background: white; padding: 10px; display: none }
