body { padding: 0; margin: 0 }
#unity-container { position: fixed; width: 100%; height: 100%; }
#unity-canvas { width: 100%; height: 100%; background: #FFFFFF }
#unity-loading-bar { position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); display: none }
#unity-logo { width: 154px; height: 130px; background: url('unity-logo-light.png') no-repeat center }
#unity-progress-bar-empty { 
  margin-left: auto; 
  margin-right: auto; 
  width: 200px;                    /* �e�ץi�ۦ�վ� (�Ҧp��j�@�I�� 200px) */
  height: 10px;                    /* ���ק�Ӥ@�I�����o */
  margin-top: 15px; 
  background: #356F43;             /* �אּ�{�N�P���H�Ǧ⩳ */
  border-radius: 5px;              /* �[�W�ꨤ */
  overflow: hidden;                /* �T�O�������X�Ӯɷ|�Q�����ꨤ */
}
#unity-progress-bar-full { 
  width: 0%; 
  height: 100%;                    /* �񺡤��h���� */
  margin-top: 0px;                 /* �k�s��� */
  background: #02FF68;             /* �i�b�o�̴��C��I�j�Ҧp�G#007AFF �O iOS ����� */
  border-radius: 5px;              /* �[�W�ꨤ */
  transition: width 0.2s ease-out; /* ���i�ױ��]���ɭԦ����Ʊ��i���ʵe�P�A���P�y�Z�I */
}
#unity-warning { position: absolute; left: 50%; top: 5%; transform: translate(-50%); background: white; padding: 10px; display: none }
